# Python virtual environment
.venv/
.python-version

# Python bytecode/cache
__pycache__/
*.py[cod]
*$py.class

# Local config & outputs
imgui_layout.ini
opt_outputs/
scanner_data/
scanner_images/
scanner_images_old/
scan_*.png
